@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
    font-family: var(--font-serif);
  }

  h1 {
    font-size: 9.875rem;
    font-weight: 400;
    line-height: 8.125rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 9.875rem;
    font-weight: 400;
    line-height: 8.125rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.25rem;
    margin-bottom: 0.75rem;
  }

  h4 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.375rem;
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-bottom: 0.5rem;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  :root {
    --cream: 39 63% 90%;
    --deep-green: 69 18% 23%;
    --taupe: 31 22% 55%;
    --orange: 33 74% 54%;
    --charcoal: 45 13% 18%;
    --bright-white: 39 63% 98%;

    --background: var(--cream);
    --foreground: var(--deep-green);

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: var(--bright-white);
    --popover-foreground: var(--deep-green);

    --primary: var(--orange);
    --primary-foreground: var(--bright-white);

    --secondary: var(--taupe);
    --secondary-foreground: var(--cream);

    --muted: var(--charcoal);
    --muted-foreground: var(--cream);

    --accent: var(--orange);
    --accent-foreground: var(--bright-white);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.7rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  /* Dark mode to be added later */
  /* [data-theme='dark'] {
    --background: var(--charcoal);
    --foreground: var(--cream);

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.5;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground flex min-h-[100vh] flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
