@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  h1 {
    font-family: var(--font-heading);
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4.5rem;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 5rem;
      line-height: 6rem;
    }
  }

  h2 {
    font-family: var(--font-heading);
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 4rem;
      line-height: 4.75rem;
    }
  }

  h3 {
    font-family: var(--font-subheading);
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.125rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  h3:not(:first-of-type) {
    margin-top: 3rem;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
  }

  @media (min-width: 1024px) {
    h3 {
      font-size: 3rem;
      line-height: 3.15rem;
    }
  }

  h4 {
    font-family: var(--font-subheading);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  @media (min-width: 768px) {
    h4 {
      font-size: 1.875rem;
      line-height: 2.125rem;
    }
  }

  @media (min-width: 1024px) {
    h4 {
      font-size: 2.25rem;
      line-height: 2.375rem;
    }
  }

  h5 {
    font-family: var(--font-subheading);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    h5 {
      font-size: 1.375rem;
      line-height: 1.625rem;
    }
  }

  @media (min-width: 1024px) {
    h5 {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  h6 {
    font-family: var(--font-subheading);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    h6 {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }

  @media (min-width: 1024px) {
    h6 {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  :root {
    --cream: 39 63% 90%;
    --deep-green: 69 18% 23%;
    --taupe: 31 22% 55%;
    --orange: 33 74% 54%;
    --charcoal: 45 13% 18%;
    --bright-white: 39 63% 98%;
    --convergence-white: 48 26% 99%;
    --convergence-beige: 48 26% 93%;
    --convergence-brown: 100 9% 26%;
    --convergence-bright-orange: 42 82% 50%;
    --convergence-burnt-orange: 31 88% 41%;
    --convergence-teal: 168 86% 25%;
    --convergence-blue: 194 23% 49%;
    --convergence-beige-darker: 60 14% 90%;

    --background: var(--convergence-beige);
    --foreground: var(--convergence-brown);

    --card: var(--convergence-white);
    --card-foreground: var(--color-convergence-brown);

    --popover: var(--convergence-white);
    --popover-foreground: var(--convergence-brown);

    --primary: var(--convergence-bright-orange);
    --primary-foreground: var(--convergence-beige);

    --secondary: var(--convergence-brown);
    --secondary-foreground: var(--convergence-beige);

    --muted: var(--convergence-beige);
    --muted-foreground: 100 6% 40%;

    --accent: var(--convergence-bright-orange);
    --accent-foreground: var(--convergence-beige);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--convergence-teal);
    --input: var(--convergence-teal);
    --ring: var(--convergence-teal);

    --radius: 0.7rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: var(--convergence-brown);
    --foreground: var(--convergence-beige);

    --card: var(--convergence-white);
    --card-foreground: var(--color-convergence-brown);

    --popover: var(--convergence-white);
    --popover-foreground: var(--convergence-brown);

    --primary: var(--convergence-bright-orange);
    --primary-foreground: var(--convergence-beige);

    --secondary: var(--convergence-brown);
    --secondary-foreground: var(--convergence-beige);

    --muted: var(--convergence-teal);
    --muted-foreground: var(--convergence-beige);

    --accent: var(--convergence-bright-orange);
    --accent-foreground: var(--convergence-beige);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: var(--convergence-beige);
    --input: var(--convergence-beige);
    --ring: var(--convergence-beige);

    --radius: 0.7rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body flex min-h-[100vh] flex-col;

    p {
      @apply mb-6;
    }

    .payload-richtext {
      a {
        @apply underline underline-offset-4;
      }
      a:not(:has(img)):hover {
        @apply opacity-70;
      }
    }

    .list-bullet {
      @apply mb-6 list-outside list-disc pl-6;

      li {
        @apply mb-2;
      }
    }

    .list-number {
      @apply mb-6 list-outside list-decimal pl-6;

      li {
        @apply mb-2;
      }
    }
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
